{% extends "base.html" %}
{% load url from future %}
{% block page_title %}Person Detail {% endblock %}
{% block extrahead %}
<script type="text/javascript" src="{{ STATIC_URL }}raty/js/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}raty/js/jquery.raty.min.js"></script>
{% endblock extrahead %}
{% block page_content %}
<h3 class="box"><a href="{{ job.get_absolute_url }}">{{ job.title }}</a> by <a href="{{ job.creator.get_absolute_url }}">{{ job.creator }}</a></h3>
<form action="" method="post" class="form-horizontal">
	{% csrf_token %}
	{% if form.receiver.errors %}
    <div class="control-group error">
        <label for="receiver" class="control-label">
            Receiver of Comment
        </label>
        <div class="controls">
            {{ form.receiver }}
            <span class="help-inline">{{ form.receiver.errors }}</span>
        </div>
    </div>
    {% else %}
    <div class="control-group">
        <label for="receiver" class="control-label">
            Receiver of Comment
        </label>
        <div class="controls">
            {{ form.receiver}}
        </div>
    </div>
    {% endif %}

    {% if form.rating.errors %}
    <div class="control-group error">
        <label for="rating" class="control-label">
            Rating
        </label>
        <div class="controls">
            <div class="star"></div>
            <span class="help-inline">{{ form.rating.errors }}</span>
        </div>
    </div>
    {% else %}
    <div class="control-group">
        <label for="rating" class="control-label">
            Rating
        </label>
        <div class="controls">
            <div class="star"></div>
        </div>
    </div>
    {% endif %}

    {% if form.comment.errors %}
    <div class="control-group error">
        <label for="comment" class="control-label">
            Comment
        </label>
        <div class="controls">
            {{ form.comment }}
            <span class="help-inline">{{ form.comment.errors }}</span>
        </div>
    </div>
    {% else %}
    <div class="control-group">
        <label for="comment" class="control-label">
            Comment
        </label>
        <div class="controls">
            {{ form.comment}}
        </div>
    </div>
    {% endif %}

    <div class='control-group'>
        <div class="controls">
        	<input type="submit" alt="bid" name="bid" value='Comment' class='btn'/>
        	
        </div>
    </div>
	
</form>

<script type="text/javascript">
	$.fn.raty.defaults.path = '{{ STATIC_URL }}raty/img';
	$('.star').raty({
		scoreName: 'rating'
	});
	$('.star1').raty({
	readOnly  : true,
	score: 1,
	});
	$('.star2').raty({
	readOnly  : true,
	score: 2,
	});
	$('.star3').raty({
	readOnly  : true,
	score: 3,
	});
	$('.star4').raty({
	readOnly  : true,
	score: 4,
	});

	$('.star5').raty({
	readOnly  : true,
	score: 5,
	});	
</script>

{% endblock %}