{% extends "base.html" %}

{% block page_title %}Home {% endblock %}

{% block page_content %}
<div class="container">
	<h3>Hello {{ status }},</h3>
	<p>Thank you for signing up at tulong.ph.</p>

	<p>To complete your registration, please go through the verification process. Simply follow these steps:</p>
	<ol>
		<li>Login to your email account and open email from tulong.ph.</li>
		<li>Reply to the email with picture of a latest billing statement and a government ID</li>
		<li>Wait for the confirmation email and you’re all set!</li>
	</ol>


	<p>note: if you don’t have a camera, you can visit our office at 2nd Floor Mercury Drug Bldg. Marcos Hi-way, Masinag, Antipolo City.</p>

	<p>For questions and concerns, please visit the http://www.tulong.ph/FAQs</p>

	<p>Your tulong.ph support team</p>
	<p>
	2nd Floor Mercury Drug Bldg. Masinag, Antipolo City <br>
	477 2068 <br>
	support@tulong.ph <br>
	</p>
</div>
{% endblock %}