{% extends "flats/aboutus_base.html" %}
	{% block page_title %}About Us! | tulong.ph {% endblock %}
	
{% block pageheader %}About us! {% endblock %}
{% block extrahead %}
<style>
	.upper { width: 150px; margin: 0 auto;}
	.upper img {max-width: 150px;}
</style>
{% endblock %}
{% block content %}
<div class="aboutus">
	<p>
		All of us got everyday needs, be it very complexed as fixing an aircraft; to very simple as stacking paper cups. Some needs require a license, some can just be done by anyone. But not everyone can solve all these kinds of problems. Not to mention the cost and time worth seeking and solving, it's just at times hard to find readily available service providers anyone can trust. People that can do certain tasks or experts at certain fields need to get in touch with people that needs certain services. They should be able to see each other in a site that lists reasonably-priced services and a wide range of fields. <br><br>

		tulong.ph got these all covered. tulong.ph is your kaakay on all your everyday issues. <br>

		tulong.ph is a platform where you can post tasks and let another person seeking this kind of task do it for you. It is a one-stop outsourced service provider. Posters that need help with tasks meet with kaakays that can provide service. Kaakays that got time to help and different skills to hone will have the chance to enhance skills and earn easily. There isn’t any difficult task, when there’s tulong.ph <br><br>

		tulong.ph aims to provide an easy arrangement between people needing assistance and people providing support. <br>
	</p>
	<h2 id="how_it_works">How it works</h2>
	<p>
		Now, tulong won’t be too long, with tulong.ph!<br><br>

		tulong.ph is a site where task posters and job doers meet and do business. Everyone has the same goal: to help. <br><br>

		Post tasks and let someone else do them for you. <br>
		     No time to clean the house? Post the need and wait for tulong.ph to provide you with help: a reliable kaakay to provide the service. <br><br>

		Be a kaakay, provide the service, and improve your skills while earning. <br>
		     Got lots of free hours? Convert them to income through tulong.ph. Simply bid on jobs you can possibly do, help a poster with the task, get paid and practice your hidden skill at the same time!
	</p>
	<h2 id="team">Team</h2>
	<p>Meet The People behind tulong.ph</p>
	<div class="row">
		<div class="col-lg-4">
			<div class="upper">
				<img src="https://s3.amazonaws.com/tulong/static/images/me2.png" alt="">
			</div>
			<div class="bellow">
				<p class="text-center"><strong>Bj</strong> <br> <span class="text-success"><em></em></span></p>
				<p class="text-center">
					<small><em>
						<a href="">Facebook</a> 
						</em>/<em>
						<a href="">Twitter</a>  
						 </em>/<em>
						<a href="">Blog</a> 
					</em></small>

				</p>
			</div>
		</div>

		<div class="col-lg-4">
			<div class="upper">
				<img src="https://s3.amazonaws.com/tulong/static/images/chi.png" alt="">
			</div>
			<div class="bellow">
				<p class="text-center"><strong>Chino</strong> <br> <span class="text-success"><em></em></span></p>
				<p class="text-center">
					<small><em>
						<a href="">Facebook</a> 
						</em>/<em>
						<a href="">Twitter</a>  
						 </em>/<em>
						<a href="">Blog</a> 
					</em></small>

				</p>
			</div>
		</div>

		<div class="col-lg-4">
			<div class="upper">
				<img src="https://s3.amazonaws.com/tulong/static/images/rp.png" alt="">
			</div>
			<div class="bellow">
				<p class="text-center"><strong>Rhodora</strong> <br> <span class="text-success"><em></em></span></p>
				<p class="text-center">
					<small><em>
						<a href="">Facebook</a> 
						</em>/<em>
						<a href="">Twitter</a>  
						 </em>/<em>
						<a href="">Blog</a> 
					</em></small>

				</p>
			</div>
		</div>
		
	</div>



</div>

	

{% endblock %}



