{% extends "flats/aboutus_base.html" %}
	{% block page_title %}FAQS | tulong.ph {% endblock %}
{% block content %}

<div class="faqs">
	<ul>
		<li>
			<a href="#what_is_tulong">What is tulong.ph?</a>
		</li>
		<li>
			<a href="#what_is_kaakay">What is a Kaakay</a>
		</li>
		<li>
			<a href="#whatisposter">What is a Poster</a>
		</li>
		<li>
			<a href="#payment">Is there a payment for joining tulong.ph?</a>
		</li>
		<li>
			<a href="#temp_or_perm">Is the work temporary or permanent</a>
		</li>
		<li>
			<a href="#requirements">What is the requirements needed to join tulong.ph?</a>
		</li>
		<li>
			<a href="#what_kind_of_tasks">What kind of jobs/tasks can be posted?</a>
		</li>
		<li><a href="#how_pay">As a poster, how do I pay?</a></li>
	</ul>		
	<ul>
		<li> 
			<b><span id="what_is_tulong">What is tulong.ph?</span></b> 
			<ul>
				<li>It is a place where people can outsource tasks/jobs to Kaakays.</li>
			</ul>
		</li>
		<li> 
			<b><span id="what_is_kaakay">What is a Kaakay</span></b> 
			<ul>
				<li>They are people who joined tulong.ph to do the Poster's tasks.</li>
			</ul>
		</li>
		<li> 
			<b><span id="whatisposter">What is a Poster</span></b> 
			<ul>
				<li>They are the ones who posts the jobs/tasks.</li>
			</ul>
		</li>
		<li> 
			<b><span id="payment">Is there a payment for joining tulong.ph?</span></b> 
			<ul>
				<li>There is no payment. There is a computed service charge after a successfull completion of tasks/jobs.</li>
			</ul>
		</li>
		<li> 
			<b><span id="temp_or_perm">Is the work temporary or permanent?</span></b> 
			<ul>
				<li>The task/job is on the need basis only. there is no commitment after the task/job is done.
				</li>
				<li>If the poster asks the Kaakay to be full time, it is up to the Kaakay to accept the offer. Tulong.ph is not part of it anymore.</li>
			</ul>
		</li>
		<li> 
			<b><span id="requirements">What is the requirements needed to join tulong.ph?</span></b> 
			<ul>
				<li>
					Kaakay
					<ol>
						<li>Picture of NBI Clearance</li>
						<li>Picture of Brgy. Clearance</li>
						<small>note* Name, address, and picture must be clear and readable.</small>
					</ol>
				</li>
				<li>
					Poster
					<ol>
						<li>Picture of NBI Clearance</li>
						<li>Picture of Brgy. Clearance</li>
						<small>note* Name, address, and picture must be clear and readable.</small>
					</ol>
				</li>
			</ul>
		</li>
		<li>
			<b><span id="what_kind_of_tasks">What kind of jobs/tasks can be posted?</span></b>
			<ul>
				<li>Anything under the sun. From construction to virtual or housekeeping to event planning. Anything goes that is legal of course.</li>
			</ul>
		</li>
		<li>
			<b><span id="how_pay">As a poster, how do I pay?</span></b>
			<ul>
				<li>You pay by Cash on Delivery Once the Kaakay is done with the Job/Task.</li>
			</ul>
		</li>
		<li>
			<b><span id="service_charge">How much is the service charge?</span></b>
			<ul>
				<li>For every successfull task/job. The Poster will pay an amount of P50 to tulong.ph through the Kaakay.</li>
			</ul>
		</li>
	</ul>
</div>

{% endblock %}



